POSTGRES_USER=govlink
POSTGRES_PASSWORD=govlink_secret
JWT_SECRET=govlink_demo_secret_change_in_prod
NODE_ENV=development
ADMIN_EMAIL=admin@govlink.demo
CERT_PUBLIC_KEY_BASE64=MCowBQYDK2VwAyEARYI0j1U/JtJ6lMBvKzSrTuY55P9+L9h7zQpHebL2skw=
CERT_PRIVATE_KEY_BASE64=MC4CAQAwBQYDK2VwBCIEIMLyl7QrcbKQeutp78tjf/wPO8o9frL6/uJ9Lcdf45VQ=
